
@{
    ViewData["Title"] = "FrontPage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="leftside d-flex justify-content-center align-items-center">
                <div class="rightside">
                    <div>

                    </div>
                    <div>

                    </div>
                    <div>

                    </div>
                    <i class="fa fa-users fa-5x" style="color:cornflowerblue" aria-hidden="true" ></i>
                    <p>                                                                              </p>
                    <p>                                                                              </p>
                    <p>                                                                              </p>
                    <div class="form-group" style="padding-top: 12px;">
                        <button id="signup" type="submit" class="btn btn-info btn-success">Student Login</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="rightside d-flex justify-content-center align-items-center">
                <div class="centered">
                    <i class="fa fa-user-circle-o fa-5x" style="color:cornflowerblue" aria-hidden="true"></i>
                    <p>  
                    </p>
                    <div class="form-group" style="padding-top: 12px;">
                        <button id="signup" type="submit" class="btn btn-success btn-success" style="align-self:center">Teacher Login</button>
                    </div>

                </div>
            </div>
        </div>
   </div>
</div>
